.footer-container {
  position: sticky;
  width: 100%;
  min-height: 65px;
  max-height: 65px;
  background-color: #4a90e2;
}

.footer-message {
  position: sticky;
  margin-left: 10px;
  padding: 4px;
  font-family: 'Noto Sans', sans-serif;
  color: #ffffff;
}

.social-media-container {
  position: sticky;
  bottom: 10px;
  left: 20px;
  width: 150px;
  display: flex;
  flex-direction: row;
}

a {
  flex: 1 0 15px;
}

.icon {
  font-size: 20px;
  color: #ffffff;
}

@media only screen and (max-width: 200px) {
  .footer-container {
    min-height: 45px;
    max-height: 45px;
  }
  .footer-message {
    display: none;
  }
  .social-media-container {
    padding-top: 14px;
    padding-left: 4px;
  }
}
