.clock {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  color: #000034;
  margin-left: 20px;
  position: absolute;
  height: 60px;
  width: 190px;
  top: 56%;
  left: 6%;
}

.clock > p {
  font-family: 'Orbitron', sans-serif;
  font-size: 14px;
  margin: 2px;
}

.large {
  flex: 1.5 0 40px;
}

.small {
  flex: 1 0 40px;
}

.unit { font-weight: 600; }

.humanized-clock {
  position: fixed;
  top: 48%;
  left: 118px;
  width: 190px;
  font-family: 'Noto Sans', sans-serif;
  font-size: 14px;
  margin: 2px;
}
