.price-display-container {
  position: relative;
}

.current-prices {
  position: absolute;
  top: -68px;
  right: 130px;
  font-family: 'Noto Sans', sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #ffffff;
}

.price-display {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: -45px;
  right: 20px;
  width: 250px;
  height: 20px;
  background-color: #4a90e2;
  font-family: 'Noto Sans', sans-serif;
  font-size: 14px;
}

.btc {
  color: #000034;
}

.usd {
  color: #ffffff;
}

li {
  list-style-type: none;
  flex: 1 0 10px;
}
