.price-display-container {
  position: relative;
}

.current-prices {
  position: absolute;
  top: -68px;
  right: 130px;
  font-family: 'Noto Sans', sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #ffffff;
}

.price-display {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: -45px;
  right: 20px;
  width: 250px;
  height: 20px;
  background-color: #4a90e2;
  font-family: 'Noto Sans', sans-serif;
  font-size: 14px;
}

.btc {
  color: #000034;
}

.usd {
  color: #ffffff;
}

li {
  list-style-type: none;
  flex: 1 0 10px;
}

@media only screen and (max-width: 600px) {
  .current-prices {
    display: none;
  }

  .price-display {
    background-color: transparent;
  }

  .btc {
    display: none;
  }

  .usd {
    position: absolute;
    top: -3px;
    right: 5px;
  }
}

@media only screen and (min-width: 1200px) {
  .current-prices {
    position: absolute;
    top: -90px;
    right: 150px;
    font-size: 18px;
  }

  .price-display {
    position: absolute;
    top: -55px;
    right: 20px;
    width: 300px;
    font-size: 18px;
  }
}
