input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.price-input-field-container {
  position: absolute;
  top: 35%;
  left: 10%;
  display: flex;
  flex-direction: column;
}

input, label {
  display: block;
  margin: 2px;
}

input {
  background-color: #4a90e2;
  color: #ffffff;
  border: 1px #4a90e2;
  font-size: 14px;
  font-weight: 500;
  padding-left: 4px;
}

input:focus {
  outline: none;
}
