input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.price-input-field-container {
  position: relative;
  top: 85px;
  left: 65px;
  height: 65px;
  width: 200px;
  display: flex;
  flex-direction: column;
}

input, label {
  position: absolute;
  left: 25px;
  display: block;
  margin: 2px;
  font-family: 'Noto Sans', sans-serif;
}

label {
  top: 10px;
  color: #000034;
}

input {
  top: 35px;
  background-color: #4a90e2;
  color: #ffffff;
  border: 1px #4a90e2;
  height: 18px;
  font-size: 16px;
  font-weight: 500;
  padding-left: 4px;
}

input:focus {
  outline: none;
}

@media only screen and (max-width: 600px) {
  .price-input-field-container {
    top: 80px;
  }

  input, label {
    left: -20px;
  }
}
