.message-container {
  position: relative;
  top: 35px;
  left: 65px;
  height: 90px;
  width: 450px;
  background-color: #4a90e2;
  border-radius: 5px;
  border-left: 10px solid #000034;
}

.welcome-message {
  position: absolute;
  top: -3px;
  left: 21px;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 600;
  color: #ffffff;
}

.nano-logo {
  position: absolute;
  bottom: -32px;
  right: -20px;
  height: 100px;
  width: 100px;
}

@media only screen and (max-width: 600px) {
  .message-container {
    position: relative;
    left: 24px;
    height: 100px;
    width: 330px;
  }

  .welcome-message {
    font-size: 14px;
    padding: 2px;
    left: 15px;
    z-index: 10;
  }

  .nano-logo {
    bottom: -34px;
    right: -30px;
  }
}

@media only screen and (max-width: 600px) and (min-height: 420px)  {
  .welcome-message {
    padding: 4px;
  }

  .nano-logo {
    bottom: -30px;
  }
}
