.button-container {
  position: relative;
  top: 60px;
  left: 65px;
  height: 40px;
  width: 200px;
}

.price-submit-button {
  position: absolute;
  left: 25px;
  background-color: #ffffff;
  color: #4a90e2;
  border: 2px solid #4a90e2;
  border-radius: 5px;
  outline: none;
}

button:active {
  background-color: #ffffff;
  color: #000034;
  border: 2px solid #000034;
  padding: 4px 8px 4px;
}
